@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #1b1b1b;
  }
}

body {
  background-color: var(--background-rgb);
  color: rgb(var(--foreground-rgb));
}

html,
body,
:root {
  height: 100%;
}

.sidebar-width {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .sidebar-width {
    margin: 0 80px;
    width: calc(100% - 80px);
  }
}

@media screen and (min-width: 1024px) {
  .sidebar-width {
    margin: 0;
    width: 320px;
  }
}
